@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-display: optional;
	font-family: 'charter';
	src: local('charter'),
		url(/fonts/charter/charter_regular-webfont.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
	font-display: optional;
	font-family: 'charter';
	src: local('charter'),
		url(/fonts/charter/charter_italic-webfont.woff2) format('woff2');
	font-weight: 400;
	font-style: italic;
	unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
	font-display: optional;
	font-family: 'charter';
	src: local('charter'),
		url(/fonts/charter/charter_bold-webfont.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
	font-display: optional;
	font-family: 'charter';
	src: local('charter'),
		url(/fonts/charter/charter_bold_italic-webfont.woff2) format('woff2');
	font-weight: 600;
	font-style: italic;
	unicode-range: U+000-5FF; /* Latin glyphs */
}

/* montserrat */

@font-face {
	font-display: optional;
	font-family: 'montserrat';
	src: local('montserrat'),
		url(/fonts/montserrat/montserrat-900-l.woff2) format('woff2');
	font-weight: 900;
	font-style: normal;
	unicode-range: U+000-5FF; /* Latin glyphs */
}
